<table mat-table [dataSource]="arrivals" matSort>
    <ng-container matColumnDef="departure">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Departure Airport</th>
      <td mat-cell *matCellDef="let flight">{{ flight.departure }}</td>
    </ng-container>
  
    <ng-container matColumnDef="callsign">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Callsign</th>
      <td mat-cell *matCellDef="let flight">{{ flight.callsign }}</td>
    </ng-container>
  
    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Distance</th>
      <td mat-cell *matCellDef="let flight">{{ flight.distance }} km</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>